body {
  background-image: url("../images/cover_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

#form-container {
  background-color: #000000bd;
  padding: 30px;
}

#response {
  color: #fff;
  padding: 10px;
  margin: 10px auto;
}
